
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    overflow-x: hidden !important;
}

.home {
    width: 100%;
    height: 600px;
    background-image: url(https://routeegy.github.io/egyptianParty/images/events-heavenly-header.jpg);
    background-position: center center;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.home-overlay {
    background-color: rgba(214, 46, 51, 0.6);
}

.navbar {
    background-color: #111;
    width:0px; 
     left: 0%;
      overflow-x: hidden !important;
    height: 100%;
    font-size: 25px;
    z-index: 99;
  
    
}
.navbar a{
    color: white !important;
    transition:all 0.5s;
}
.navbar a:hover{
    color: #d62e33 !important;
}
.home-content{
    margin-left: 20px !important;
}
.home-content h2{
    font-size: 60px;
    transition: all 1s;
   
}
.home-content p{
    transition: all 1s;
}
 .open-btn{
  
    font-size: 30px;
  
    cursor: pointer;
    position: relative;
   
} 
.signuare{
    padding: 10px;
    background-color: #ccc;
    width: 60%;
    cursor: pointer;

}
.signuare-head{
    background-color:rgba(230, 130, 133, 1);
}
.signuare-content,.signuare-content-2,.signuare-content-3,.signuare-content-4{
   
}
.event-time{
    width: 100%;
    height: 330px;
    background-image: url(https://routeegy.github.io/egyptianParty/images/invitation-2508607__340.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.event-overlay{
    background-color:rgba(214, 46, 51, 0.6);
}
.inner{
    border: white solid 1px !important;

}
.contact p{
    color: #777;
    font-weight: 300;
    font-size: 16px;
 }
 .contact i{
    color: #777;
 }
.contact-info{
    font-size: 16px;
    line-height: 26px;
    color: #777;
 
    max-width: 75% !important;
}
 .contact-head{
    text-transform: uppercase;
    font-size: 35px;
    color: #444;
    font-weight: bold;
    /* margin-bottom: 20px; */
 }
 .site p{
    max-width: 50% !important;
 }
 .mailing p{
  color: #d62e33;
 }
 .contact-icons i{
    border: 1px solid #777 ;
    transition: all 0.5s;

 }
 .contact-icons i:hover{
    background-color: #d62e33;
    color: white;
 }
.st-head{
    color: #444;
    font-size: 18px;
}
input{
    height: 40px;
    background-color: transparent;
   border: 1px solid #777;
}
input::placeholder{
    color: #777;
    padding-left: 5px;
}
.num{
    color: #d62e33;
}
button{
    background-color: #d62e33 !important;
}

